# tempo/tempo-config.prod.yml
server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        http:
          endpoint: 0.0.0.0:4318

storage:
  trace:
    backend: local
    local:
      path: /data/traces

ingester:
  max_block_duration: 5m

compactor:
  compaction:
    block_retention: 1h

metrics_generator:
  storage:
    path: /data/generator/wal
    remote_write:
      # In Swarm, this hostname 'prometheus' resolves to the service IP
      - url: http://prometheus:9090/api/v1/write
        send_exemplars: true